html {
  background-color: rgb(184, 245, 197);
}

.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 220%;
  color:rgb(48, 48, 48)
  
}

input{
  font-family: 'Lora', serif;
}

option
{
  font-family: 'Lora', serif;
}

button
{
  font-family: 'Lora', serif;
}

