html {
  background-color: rgb(155, 209, 167);
  padding: 20px;
}

.App {
  text-align: center;
  
}

h1
{
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-size: 100px;
  color:white;
  text-shadow: 4px 4px hsl(98, 100%, 79%);
  margin: 67px 0px 10px 0px;
}

h2
{
  font-family: 'Lora', serif;
  color:rgb(75, 75, 75);
  font-size: 20px;
}



.container {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
}

input{
  font-family: 'Lora', serif;
}

#amount
{
  border: none;
  background: none;
}

select
{
  border: none;
  background: none;
}

option
{
  font-family: 'Lora', serif;
}

#date
{
  border: none;
  background: none;
}

#add-button
{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: white;
  padding: 8;
  border: none;
  background: none;
  text-shadow: 1.5px 1.5px hsl(98, 100%, 79%);
  
}

#save-button
{
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: white;
  background:rgb(75, 75, 75);
  border: none;
  padding: 4px 10px 4px 10px;
  box-shadow: 4px 4px hsl(98, 100%, 79%);
}

