body {
  background-color: rgb(155, 209, 167);
}

.App {
  padding: 20px;

}

.Container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-size: 100px;
  color: white;
  text-shadow: 4px 4px hsl(98, 100%, 79%);
  margin: 60px 0px 10px 0px;
}

h2 {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  color: rgb(75, 75, 75);
  font-size: 20px;
  margin: 16px 0px 50px 0px;
}

#expense-form {
  margin: auto auto 50px auto;
  display: flex;
  justify-content: center;
  max-width: 700px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 4px 4px hsl(98, 100%, 79%);
}

#amount-input {
  border: none;
  background: none;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
}

#category-input {
  border: none;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
}

#date-input {
  border: none;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
}

#add-button {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  color: rgb(75, 75, 75);
  padding: 8;
  border: none;
  background: none;
  text-shadow: 3px 3px hsl(98, 100%, 79%);
  margin: 0px 15px 0px 15px;
}

.noValue {
  font-family: 'Poppins', sans-serif;
  color: rgb(75, 75, 75);
  text-align: center;
}

.expense-list {
  margin: auto;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  max-width: 600px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 4px 4px hsl(98, 100%, 79%);
}

ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 16px;
  padding: 16px;
}

li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 5px;
}

li:hover {
  color: gray;
  text-decoration: line-through;
}

.Totals {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h3 {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  color: rgb(75, 75, 75);
  font-size: 16px;
  margin: 50px 0px 50px 0px;
}

#select-year {
  margin: auto;
  border-radius: 6px;
  font-family: 'Work Sans', sans-serif;
  background-color: rgb(75, 75, 75);
  color: white;
  font-size: 16px;
  height: 30px;
  width: 160px;
  padding: 5px;
  border: none;
  box-shadow: 4px 4px hsl(98, 100%, 79%);
}

#select-month {
  margin: auto;
  border-radius: 6px;
  font-family: 'Work Sans', sans-serif;
  background-color: rgb(75, 75, 75);
  color: white;
  font-size: 16px;
  height: 30px;
  width: 160px;
  padding: 5px;
  border: none;
  box-shadow: 4px 4px hsl(98, 100%, 79%);
}

#total-dates {
  margin: auto;
  font-family: 'Work Sans', sans-serif;
  color: rgb(75, 75, 75);
  min-width: 300px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 4px 4px hsl(98, 100%, 79%);
  padding: 5px;
}

.Footer {

  text-align: center;
  font-family: 'Lora', serif;
  font-size: 12px;
  color: rgb(75, 75, 75);
  padding: 20px;
}